<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TwitterUserAnalyzer3</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div id="app">
            <form>
                <label>Screen Name</label>
                <input type="text" v-model="analyzeScreenName">
                <button type="button" v-on:click="analyze">Analyze</button>
            </form>

            <div v-if="state === 'analyzing'">
                <p>
                    <template v-for="progress in analyzeProgresses">
                        {{ progress }}<br />
                    </template>
                </p>
            </div>

            <div v-else-if="state === 'analyzed'">
                <user-list name="followEachOther" v-bind:list="followEachOther"></user-list>

                <h1 v-on:click="showFollowedOnly = !showFollowedOnly">
                    followedOnly
                    <span v-if="!showFollowedOnly">▼</span>
                </h1>
                <transition name="fade">
                    <div v-if="showFollowedOnly" class="flex-container followed-only">
                        <div v-for="item in followedOnly"><p>{{ item }}</p></div>
                    </div>
                </transition>

                <h1 v-on:click="showFollowOnly = !showFollowOnly">
                    followOnly
                    <span v-if="!showFollowOnly">▼</span>
                </h1>
                <transition name="fade">
                    <div v-if="showFollowOnly" class="flex-container follow-only">
                        <div v-for="item in followOnly"><p>{{ item }}</p></div>
                    </div>
                </transition>
            </div>
        </div>
        <script src="bundle.js"></script>
    </body>
</html>
