h1 {
    font-size: 1.4em;
}

#app {
    width: 600px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 10px;
}

.follow-each-other div {
    background-color: aquamarine;
}

.followed-only div {
    background-color: orange;
}

.follow-only div {
    background-color: darkolivegreen;
}
