h1 {
    font-size: 1.4em;
}

#app {
    width: 90%;
    margin: 10px auto 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
    width: 140px;
    height: 80px;
    margin-bottom: 10px;
    border-bottom: solid 2px lightgray;
    text-align: center;
}

.flex-container div p {
    margin: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fade-enter-active, .fade-leave-active {
    transition: all .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0
}
